@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beba Água</h1>
    <p>Nosso corpo é constituido de cerca de 60% a 70% de água. Nosso sangue, músculos, pulmões e cérebro contém bastante água.</p>
        <p>Beber bastante líquido é vital para a nossa saúde.</p>
    <p>Utilize os menus acima para cadastrar os tipos de Recipientes e registrar o Consumo de líquidos/água.</p>
</div>
